@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300&family=Roboto:wght@100;300&family=Varela+Round&display=swap');

:root {
    --white-color:                  #FFFFFF;
    --primary-color:                #ffc107;
    --section-bg-color:             #f9f9f9;
    --dark-color:                   #000000;
    --grey-color:                   #fcfeff;
    --text-secondary-white-color:   rgba(255, 255, 255, 0.98);
    --title-color:                  #565758;
    --p-color:                      #717275;
  
    --body-font-family:           'Noto Sans JP', sans-serif;
  
    --h1-font-size:               72px;
    --h2-font-size:               42px;
    --h3-font-size:               36px;
    --h4-font-size:               32px;
    --h5-font-size:               24px;
    --h6-font-size:               22px;
    --p-font-size:                20px;
    --copyright-text-font-size:   14px;
    --custom-link-font-size:      12px;
  
    --font-weight-light:          300;
    --font-weight-normal:         400;
    --font-weight-bold:           700;
    --font-weight-black:          900;
}

body{
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
}

/* main heading  */
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p{
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.5px;
  }

/* login styling */
.my-section{
    color: white;
    position: relative;
    height: 100vh;
    width: 100%;
    background:url("images/bg.jpg");
    background-size: cover;
    background-position: center center;
}

.form-container{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.form-container h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline:none;
    margin:1em 0;
}
.control input[type="button"]{
    background-color: crimson;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.control input[type="button"]:hover{
    opacity: 1;
}
#link{
    text-align: center;
}
#link a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
    transition: opacity 0.3 ease;
}

#link a:hover{
    opacity: 1;
}

/* Main portfolio */

/* Top section */

/* video */

.text-secondary-white-color{
    color: var(--text-secondary-white-color);
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    z-index: -100;
}
.custom-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.overlay{
    background: linear-gradient(to top, #000, transparent 90%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* hero */
.hero{
    position: relative;
    overflow: hidden;
}
.heroText h1{
    font-size: 60px;
    font-weight:var(--font-weight-bold);
}

.custom-underline {
    border-bottom: 2px solid var(--white-color);
  color: var(--white-color);
  padding-bottom: 4px;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 14px;
  }
}  
  
.heroText{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}