@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300&family=Roboto:wght@100;300&family=Varela+Round&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Open Sans"; */
    color: #fff;
}

/* login styling */
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background:url(./images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

.form-container{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.form-container h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline:none;
    margin:1em 0;
}
.control input[type="button"]{
    background-color: crimson;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.control input[type="button"]:hover{
    opacity: 1;
}
#link{
    text-align: center;
}
#link a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
    transition: opacity 0.3 ease;
}

#link a:hover{
    opacity: 1;
}